body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
    margin: 10px;
    width: 400px;
    height: 600px;
    display: block;
    margin: auto;
}

img {
    margin: 10px;
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
}

h2 {
    color: darkgreen;
    background-color: whitesmoke;
    text-align: center;
}

video {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    display: block;
    margin: auto;
}

audio {
    margin-right: 5000000px;
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
    width: 400px;
    height: 600px;
}